h1 
{
  
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
}
h2
{
  
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
}

body
{
  
	background-color: #4682B4;
	font-family: Helvetica,Arial,sans-serif;
  	font-size: 14px;
  	line-height: 1.5;
  	font-weight: 300;
	overflow: scroll;
}


p
{
  
	text-align: center;

}
.p
{
  
	text-align: center;

}

ul 
{
  
	list-style-type: none;
	margin: 0;
  	padding: 0;
	background-color: #B0C4DE;
}

li 
{
  
	float: left;
	text-align: center;

}

.Menu 
{
	position: relative;
	background-color: #B0C4DE;
	margin-left: 20%;
	margin-right: 20%;
	padding-bottom: 1%;
	text-align: center;
}


.one
{
	text-align: center;
	position: relative;
	height: 87px;
	line-height: 87px;
	padding-right: 1%;
	padding-left: 1%;
}


.picture 
{
	width: 800px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
}

.exactCenter 
{
	position: relative;
	width: 500px;
	top: 100px;
	left: 40%;
	margin-top: -100px;
	margin-left: -100px;
}
