h1 
{
  
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
}

body
{
  
	background-color: #4682B4;
	font-family: Helvetica,Arial,sans-serif;
  	font-size: 14px;
  	line-height: 1.5;
  	font-weight: 300;
}

p
{
  
	background-color: #B0C4DE;
	margin: 0px 20%;

}

ul 
{
  
	list-style-type: none;
	margin: 0;
  	padding: 0;
	background-color: #B0C4DE;
}

li 
{
  
	float: left;

}

.Menu 
{
	position: relative;
	background-color: #B0C4DE;
	margin-left: 20%;
	margin-right: 20%;
	padding-bottom: 1%;
}
.PictureSection
{
	position: relative;
	background-color: #B0C4DE;
	margin-left: 20%;
	margin-right: 20%;
	padding-bottom: 1%;
}
.BigPictures
{
	max-width:100%;
	position: relative;
	background-color: #B0C4DE;
	margin-left: 20%;
	margin-right: 20%;
	padding-bottom: 1%;
}
.SmallPictures
{
	height:80px;
	width: 80px;
	position: relative;
	background-color: #B0C4DE;
	margin-left: 20%;
	margin-right: 20%;
	padding-bottom: 1%;
}


.one
{
	text-align: center;
	position: relative;
	height: 87px;
	line-height: 87px;
	padding-right: 1%;
	padding-left: 1%;
}


.exactCenter 
{
	width: 200px;
	height: 200px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
}
