body
{
	background-color: #4682B4;
	font-family: Helvetica,Arial,sans-serif;
  	font-size: 14px;
  	line-height: 1.5;
  	font-weight: 300;
}

h1
{
height: 75px;
width: 400px;
display: block;
color: #632325;
}

h3
{
height: 50px;
width: 400px:
display: block;
color: #632325;
}

ol
{
height: 150px;
width: 450px;
display: block;
}

ul
{
height: 150px;
width: 450px;
display: block;
}


.content 
{
  position: absolute;
  top: 28px;
  left: -125px;
  background: #007995;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #007995; 
  margin: 0px 20%;
}

[type=radio]:checked ~ label {
  background: #007995;
  border-bottom: 1px solid #007995;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}