body
{
	background-color: #4682B4;
	font-family: Helvetica,Arial,sans-serif;
  	font-size: 14px;
  	line-height: 1.5;
  	font-weight: 300;
}

h1
{
display: block;
color: #632325;
}

.Section
{
background-color: #B0C4DE;
position: relative;
margin-left: 25%;
margin-right: 25%;
padding-right: 2%;
padding-left: 2%;
}

.date
{
float: right;
}
