body
{
background-color: #4682B4;
font-family: Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.5;
font-weight: 300;
}

h1
{
height: 75px;
width: 400px;
color: #632325;
text-align: center;
position: relative;
margin-left: 25%;
margin-right: 25%;
padding-right: 2%;
padding-left: 2%;
padding-bottom: 1%;
}

h3
{
color: #632325;
text-align: center;
}

ul
{
list-style-position: inside;
}

.Section
{
background-color: #B0C4DE;
position: relative;
margin-left: 25%;
margin-right: 25%;
padding-right: 2%;
padding-left: 2%;
padding-bottom: 1%;
}

.date
{
float: right;
}

.Menu 
{
	position: relative;
	background-color: #B0C4DE;
	margin-left: 20%;
	margin-right: 20%;
	padding-bottom: 1%;
	text-align: center;
}


.one
{
	text-align: center;
	position: relative;
	height: 87px;
	line-height: 87px;
	padding-right: 1%;
	padding-left: 1%;
}