body
{
background-color: #4682B4;
font-family: Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.5;
font-weight: 300;
}

h1
{
height: 75px;
width: 400px;
color: #632325;
text-align: center;
}

h3
{
color: #632325;
text-align: center;
}

ul
{
list-style-position: inside;
}

.Section
{
background-color: #B0C4DE;
position: relative;
margin-left: 25%;
margin-right: 25%;
}

.date
{
float: right;
}