h1{
height: 200px;
width: 400px;
display: block;
color: #632325;
margin: auto;
}

h2{
height: 200px;
width: 400px;
display: block;
color: #616363;
margin: auto;
}

h3{
height: 200px;
width: 400px;
display: block;
color: #616363;
margin: auto;
}