h1{
height: 50px;
width: 400px;
display: block;
color: #632325;
margin: auto;
}

h2{
height: 50px;
width: 400px;
display: block;
color: #632325;
margin: auto;
}

h3{
height: 50px;
width: 400px;
display: block;
color: #632325;
margin: auto;
}

ol{
height: 150px;
width: 450px;
display: block;
margin: auto;
}

ul{
height: 150px;
width: 450px;
display: block;
margin: auto;
}